@import 'src/styles/variables.scss';
.wrap-input {
  flex: 1;
  .input {
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    border: none;
    outline: none;
    color: $primary-color;
    opacity: 0.8;
    margin: 18px 0px;
    &::placeholder {
      opacity: 0.3;
      font-style: italic;
      font-weight: 300;
    }

    &:focus {
      border-color: $primary-color;
    }
  }
}
